{% extends 'base.html.twig' %}

{% block title %}Crear Libro..!{% endblock %}

{% block body %}
    <div class="col-lg-8 align-center">
        <h1>Crear Nuevo Libro</h1>

        {{form_start(form)}}

        <div class="form-group">
            <h4>Titulo</h4>
            {{form_widget(form.titulo)}}
        </div>
        <div class="form-group">
            <h4>Descripcion</h4>
            {{form_widget(form.descripcion)}}
        </div>
        <div class="form-group">
            <h4>Año de Publicacion</h4>
            {{form_widget(form.publicacion)}}
        </div>
        <div class="form-group">
            <h4>Autor</h4>
            {{form_widget(form.autor)}}
        </div>

        <input type="submit" class="btn btn-primary">
    
    
        {{form_end(form)}}
    
    </div>
{% endblock %}

