{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .align-center {
            margin: auto auto;
        }
    </style>
{% endblock %}
{% block title %}Lista de Libros Existentes{% endblock %}
{% block body %}
    <div class='row'>
            <div class="col-lg-8 align-center">
                <h1>Inventario</h1>
                <table class="table table-striped ">
                    <thead class="table-dark">
                        <tr>
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>Publicacion</th>
                            <th>Autor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in libros %}
                            <tr>
                                <td>{{libro.titulo}}</td>
                                <td>{{libro.descripcion}}</td>
                                <td>{{libro.publicacion}}</td>
                                <td>{{libro.autor}}</td>
                                <td>
                                    <a href="{{ path('app_edit', {id:libro.id}) }}" class="btn btn-primary">Editar</a>
                                    <a href="{{ path('app_delete', {id:libro.id}) }}" class="btn btn-danger">Eliminar</a>
                                    
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>        

    <div class="row">
        <div class="col-lg-8 align-center">
            <a href="{{path('app_libro')}}" class="btn btn-primary">Crear Libro</a>
        </div>
    </div>
{% endblock %}

